@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
}


/* ------navbar------ */

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    background: #ffffff;
    z-index: 1;
    top: 0;
    justify-content: space-around;
    padding-top: 10px;
}

.logoDocPlanner {
    width: 268px;
    height: 33px;
}

ul {
    list-style: none;
}

li {
    padding: 0px 9px;
    display: inline-block;
    color: #747474;
    font-family: 'Roboto', sans-serif;
}

section {
    max-width: 1550px;
    display: flex;
    flex-direction: column;
    padding: 3% 15% 0% 15%;
}


/* ------About us------ */

.About_us {
    margin-top: 5%;
    margin-bottom: 5%;
}

#About,
h2 {
    color: rgb(0, 191, 165);
    margin: 0px 0px 15px 0px;
}

a {
    text-decoration: none;
}

#etoile {
    display: flex;
    justify-content: center;
    margin: 0px 0px 35px 0px;
}

h2 {
    display: flex;
    justify-content: center;
}

.About_us_p {
    /* display: grid;
    grid-template-columns: 50% 50%; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.About_us_p>p {
    line-height: 1.75;
    padding: 10px;
    color: #747474
}


/* ------the 3 card------ */

.total_card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card_1,
.card_2,
.card_3 {
    width: 33.33%;
    height: 320px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: #ffffff;
}

.card_container {
    padding: 30px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
}

.card_1 {
    background-color: #00ccb1;
}

.card_2 {
    background-color: #3d83df;
}

.card_3 {
    background-color: #1b2734;
}

fa-hospital-user {
    width: 200%;
}

.total_card h1 {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: -.3px;
    font-size: 1.625em;
    font-weight: 400;
    margin: 0.3em 0;
}

.total_card p {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}

#country {
    text-decoration: underline;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: white;
}

.option {
    color: #3d83df;
}

.brandsLogo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0px;
}

.brandsLogo>li {
    font-size: 1rem;
    display: inline-flex;
    margin-top: 0;
    padding: 5px 0 5px 5px;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.brandsLogo img {
    filter: grayscale(100%);
    opacity: 0.45;
    width: 200;
}

.brandsLogo img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.brandSection {
    display: flex
}

.brandSection h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    float: left;
    width: 50%;
    font-size: 1.625em;
    padding: 0px 5px 0px 5px;
}


/* --------sectiontwo------ */

.background {
    background: #e5faf8;
    overflow: hidden;
    background-image: url(https://www.docplanner.com/img/logo.png);
    background-repeat: no-repeat;
    background-position: bottom -92px left 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 700px;
    margin: 60px 0px 50px 0px;
    display: grid;
    justify-items: center;
}

.section_two {
    margin: 0px 0px 50px 0px;
    height: 700px;
}

#logo {
    z-index: 0;
    width: 500px;
    left: -10px;
    bottom: -885px;
}

.sectiontwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    margin-top: 23px;
}

.container_career {
    display: grid;
    grid-row: 1;
    margin-top: 40px;
    margin-right: 60px;
    padding: 10px 10px 10px 0px;
    height: 200px;
}

.container_career h1 {
    color: #00b39b;
    font-weight: 300;
    font-size: xx-large;
}

.container_career p {
    line-height: 1.7142857143;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Roboto';
    color: #747474;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-row: 1/8;
    grid-column: 2;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    height: 250px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
}

.card1,
.card3 {
    margin-top: 20px;
}

.card3 {
    margin-top: -69px;
}

.card4 {
    margin-top: -90px;
}

.card h6 {
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: -0.3px;
    text-align: center;
    color: #00b39b;
}

.card p {
    font-size: small;
    text-align: center;
    color: #747474;
    font-family: 'Roboto';
}

.container {
    text-align: center;
}

.container>h2 {
    font-weight: 300;
    line-height: 1.3;
    font-size: xx-large;
}

.container>p {
    line-height: 1.8;
    font-size: small;
}

.container_cards {
    display: grid;
    grid-template-columns: 1FR 1FR 1FR;
    gap: 20px;
    margin-top: 75px;
}

.container_cards img {
    border-radius: 10px 10px 0px 0px;
}

.cardTown {
    border: rgba(0, 0, 0, .03) 1px solid;
    border-radius: 20px;
    max-width: 320px;
    height: 341px;
    background-color: #fff;
}

.description {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin: 14px;
}

.btn {
    border: NONE;
    BACKGROUND: #3d83df;
    WIDTH: 94PX;
    height: 25px;
    BORDER-RADIUS: 3PX;
    COLOR: #FFF;
    FONT-SIZE: x-small;
    FONT-WEIGHT: 600;
    text-transform: uppercase;
}

.description h6 {
    color: #747474;
    font-family: 'Roboto';
    font-weight: 500;
}

.btn_four {
    border: NONE;
    BACKGROUND: #3d83df;
    WIDTH: 173PX;
    height: 34px;
    BORDER-RADIUS: 5PX;
    COLOR: #FFF;
    FONT-SIZE: x-small;
    FONT-WEIGHT: 600;
    text-transform: uppercase;
}

.section_four h2 {
    font-size: x-large;
}

.countryLink {
    color: #3d83df;
}

.main_footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    border-top: 1px solid #eef2f2;
    padding: 32PX 0PX 23PX 0PX;
    margin-top: 70PX;
}

.main_footer p {
    color: #747474;
    font-size: x-small;
}